@import 'tailwindcss';

@theme {
  --color-primary: var(--color-blue-600);
  --color-primary-light: var(--color-blue-50);
  --color-primary-dark: var(--color-blue-700);

  --color-secondary: var(--color-gray-600);
  --color-secondary-light: var(--color-gray-50);
  --color-secondary-dark: var(--color-gray-700);

  --color-success: var(--color-green-600);
  --color-success-light: var(--color-green-50);
  --color-success-dark: var(--color-green-700);

  --color-warning: #ffc107;
  --color-warning-light: var(--color-yellow-50);
  --color-warning-dark: var(--color-yellow-500);
  --color-warning-very-dark: var(--color-yellow-700);

  --color-danger: var(--color-red-600);
  --color-danger-light: var(--color-red-50);
  --color-danger-dark: var(--color-red-700);

  --color-light: var(--color-gray-50);
  --color-dark: var(--color-gray-700);

  --color-white: #fff;
  --color-black: #000;
  
  --text-h1: 4.8rem;
  --text-h2: 4rem;
  --text-h3: 3.2rem;
  --text-h4: 2.4rem;
  --text-subtitle: 2rem;
  --text-body-large: 1.8rem;
  --text-body-default: 1.6rem;
  --text-body-small: 1.4rem;
  --text-label: 1.2rem;

  --spacing: .2rem;

  --shadow-default: 0 4px 12px rgba(0, 0, 0, 0.06);
  --shadow-default-hover: 0 8px 24px rgba(0, 0, 0, 0.08);

  --transition-default: all 0.3s ease-in-out;
}


html {
  font-size: 62.5%;
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@layer components {
  .container {
    @apply max-w-[120rem] ml-auto mr-auto pl-5 pr-5 box-border;
  }

  .subpage-title {
    @apply text-h2 font-semibold mb-5;
  }

  .form-input-wrapper {
    @apply mb-4 flex flex-col gap-1;
  }

  .form-label {
    @apply text-body-small font-medium text-gray-700;
  }

  .form-input {
    @apply border border-gray-300 focus:border-blue-500 rounded-md p-4 w-full text-body-small focus:border-primary focus:ring focus:ring-blue-300 focus:outline-none;
  }

  .list-element {
    @apply flex items-center justify-between p-4 rounded-xl border border-gray-200 bg-gray-50 transition-colors
  }

}